# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads & Temp
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
dist/
build/
.DS_Store
Thumbs.db
